body {
  margin: 0;
  background-color: #eeeeee;
}

.page-wrapper {
  position: relative;
  max-width: 1582px;
  width: 100%;
  background-color: #eeeeee;
}

.logo {
  position: absolute;
  z-index: 1000;
  left: 119px;
  width: 266px;
  height: 128px;
  padding-top: 9px;
  box-sizing: border-box;
  text-align: center;
  background-image: url("../img/logo-bg.png");
  background-repeat: no-repeat;
}

.logo__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Century Gothic", sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.slider {
  position: relative;
}

.slider__img {
  display: block;
  width: 100%;
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 70px;
  height: 178px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.25);
}

.slider__button.button-left {
  left: 0;
  border-radius: 0 8px 8px 0;
}

.slider__button.button-left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right:30px solid rgba(255, 255, 255, 0.5);
}

.slider__button.button-right {
  right: 0;
  border-radius: 8px 0 0 8px;
}

.slider__button.button-right::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(70%, -50%);
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left:30px solid rgba(255, 255, 255, 0.5);
}



.navigation-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 23px;
}

.navigation {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.navigation__link {
  font-family: "Century Gothic", sans-serif;
  font-size: 36px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

}

.navigation__link:not(:last-child) {
  margin-right: 30px;
}

.navigation__link--current {
  border-bottom: 1px solid #000000;
}



.main {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.sider {
  position: relative;
  width: 300px;
  padding: 20px;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: #d7d7d7;
}

.sider__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  width: 152px;
  height: 42px;
  transform: translate(-50%);
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #6b6b6b;
}

.sider__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 0;
  border: 1px solid #ffffff;
}

.slider__list--uppercase {
  text-transform: uppercase;
}

.sider__item {
  list-style: none;
  font-family: "Century Gothic", sans-serif;
  font-size: 16px;
  line-height: 43px;
  text-align: center;
}

.sider__link {
  text-decoration: none;
  color: #000000;
}

.sider__link:hover {
  text-decoration: underline;
}



.events {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.events__date {
  font-family: "Century Gothic", sans-serif;
  font-size: 35px;
}

.evetns__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 70px;
  padding-bottom: 50px;
  font-family: "Century Gothic", sans-serif;
  font-size: 29px;
  font-weight: normal;
}

.events__slider-buttons {
  display: flex;
  justify-content: space-between;
}

.events__slider-button {
  background-color: transparent;
  border: none;
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.events__description {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  font-family: "Georgia", serif;
  font-size: 17px;
  border-top: 1px solid #cecece;
}
